html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/*************************
  basic/neat styling below
**************************/
body {
  margin: 0 auto;
  padding: 0;
  width: 80%; }

a, li, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.cook-order {
  visibility: hidden; }

.neat-container {
  margin: 0 auto;
  max-width: 90%;
  margin-bottom: 40px; }

.tab {
  width: 16%; }

.menu-header-ul li:last-child {
  margin-right: 0; }

.appetizers {
  padding: 1%;
  border-right: 3px solid teal;
  border-bottom: 3px solid teal;
  border-left: 3px solid teal; }

.page-heading {
  text-align: center;
  color: navy;
  margin: 10px;
  padding: 5px; }

.header-title,
.header-subtitle {
  margin: 0;
  padding: 0;
  color: teal;
  text-align: center; }

.header-title {
  margin-top: 50px;
  margin-bottom: 10px; }

.header-subtitle {
  font-size: 1em;
  font-family: cursive; }

nav {
  position: relative;
  max-width: 90%; }

.nav-ul li {
  color: navy; }

.nav-ul,
.secondary-nav {
  display: inline-block; }

.nav-ul li,
.secondary-nav li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px; }

.secondary-nav {
  position: absolute;
  right: 10px;
  margin-left: 50px;
  color: red; }

.secondary-nav li:first-child {
  border-right: 1px solid navy;
  padding-right: 10px; }

/**********************
  Menu Below
  *********************/
.filter-heading {
  margin: 0;
  padding: 5px; }

.filter-heading:hover {
  cursor: pointer;
  cursor: hand; }

.filter-wrap {
  visibility: hidden;
  margin-bottom: 10px; }

.menu-header-ul li {
  display: inline-block;
  text-align: center;
  height: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid teal;
  border-right: 3px solid teal;
  border-left: 3px solid teal;
  color: navy;
  vertical-align: top;
  line-height: 50px;
  cursor: pointer;
  cursor: hand; }

.menu-header-wrap {
  position: relative;
  margin: 0;
  padding: 0; }

.menu-subtitle {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 1em; }

.heading-order {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0; }

.heading-item {
  position: relative;
  left: 30%; }

.heading-price {
  position: absolute;
  right: 0; }

.order-button,
.food-item,
.food-price {
  display: inline-block; }

.order-button {
  width: 10%;
  margin-left: 1%; }

.food-item,
.foodDesc {
  width: 80%; }

.foodDesc {
  width: 70%;
  margin-left: 14%;
  font-size: 0.8em;
  font-family: cursive; }

.tabs {
  margin-bottom: 50px; }

/********************
    Order View Code Below
**********************/
.item-qty,
.order-item,
.order-item-price {
  display: inline-block; }

.item-qty {
  width: 5%; }

.order-item {
  width: 75%;
  margin-left: 10%; }

.order-item-price {
  width: 5%; }

.customize-item {
  margin-left: 18%;
  margin-top: 5px; }

.customize-label {
  color: red;
  cursor: pointer;
  cursor: hand; }

#customize-input {
  visibility: hidden; }

.order-total {
  margin-top: 20px;
  margin-left: 80%; }

.submit-button {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: teal;
  color: white;
  font-size: 1em; }

.order-extra {
  visibility: hidden; }

/*************************************************
    Customer Order Page Below
*************************************************/
.page-wrap {
  position: relative;
  margin: 0 auto;
  max-width: 90%; }

.heading-time-placed {
  position: absolute;
  right: 0; }

.time-order-completed {
  text-align: center;
  color: red; }

/*# sourceMappingURL=main.css.map */
