@import 'bourbon/bourbon';
@import 'neat/neat';

$max-width: 90%;
$tab-height: 50px;
$menu-line-height: 1.2em;


$primary-color: teal;
$secondary-color: navy;
$highlight-color: red;
$button-text-color: white;

$button-font-size: 1em;

/*************************
  basic/neat styling below
**************************/

body {
  margin: 0 auto;
  padding: 0;
}

a, li, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.neat-container {
  @include outer-container;
  width: $max-width;
  margin-bottom: 40px;

}

.row {
  @include span-columns(12);

}

.tab {
  width: 16%;

}

.menu-header-ul li:last-child {
  @include omega();
}

.appetizers {
  padding: 1%;
  border-right: 3px solid $primary-color;
  border-bottom: 3px solid $primary-color;
  border-left: 3px solid $primary-color;
}

.page-heading {
  text-align: center;
  color: $secondary-color;
  margin: 10px;
  padding: 5px;
}

.filter-heading {
  margin: 0;
  padding: 5px;
}

.filter-heading:hover {
  cursor: hand;
}

.header-title,
.header-subtitle {
  margin: 0;
  padding: 0;
  color: teal;
  text-align: center;
}

.header-title {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header-subtitle {
  font-size: 1em;
  font-family: cursive;
}

nav {
  position: relative;
  max-width: $max-width;
}
.nav-ul li {
  color: $secondary-color;
}

.nav-ul,
.secondary-nav {
  display: inline-block;
}

.nav-ul li,
.secondary-nav li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;

}

.secondary-nav {
  position: absolute;
  right: 10px;
  margin-left: 50px;
  color: $highlight-color;
}

.secondary-nav li:first-child {
  border-right: 1px solid $secondary-color;
  padding-right: 10px;
}

/**********************
  Menu Below
  *********************/

.menu-header-ul li {
  display: inline-block;
  text-align: center;
  height: $tab-height;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 3px solid $primary-color;
  border-right: 3px solid $primary-color;
  border-left: 3px solid $primary-color;
  color: $secondary-color;
  vertical-align: top;
  line-height: $tab-height;
}

.menu-header-wrap {
  position: relative;
  margin: 0;
  padding: 0;
}

.menu-subtitle {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  font-size: 1em;
}

.heading-order {
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
}

.heading-item {
  position: relative;
  left: 30%;
}

.heading-price {
  position: absolute;
  right: 0;
}

.order-button,
.food-item,
.food-price {
  display: inline-block;
}

.order-button {
width: 10%;
margin-left: 1%;
}

.food-item,
.foodDesc {
  width: 80%;
}

.foodDesc {
  width: 70%;
  margin-left: 14%;
  font-size: 0.8em;
  font-family: cursive;
}

.tabs {
  margin-bottom: 50px;
}

/********************
    Order View Code Below
**********************/


.item-qty,
.order-item,
.order-item-price {
  display: inline-block;
}

.item-qty {
  width: 5%;

}

.order-item {
  width: 75%;
  margin-left: 10%;
}

.order-item-price {
  width: 5%;
}

.order-total {
  margin-top: 20px;
  margin-left: 80%;
}

.submit-order {
  display: block;
  margin: 10px auto;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: $primary-color;
  color: $button-text-color;
  font-size: $button-font-size;
}




